.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    width: 100%;
    position: fixed;
    background-color: #000;
}

.header p{
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}

.header strong{
    color: #3e75e2;
}

.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}

.nav-link{
    text-decoration: none;
    color: #3e75e2;
}

.nav-link:hover{
    color: #fff;
}

@media screen and (max-width:350px) {
    .header{
        padding: 5px 10px;
    }

    .nav{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 5px;
    }
}

@media screen and (max-width:768px) {
    .header{
        padding: 5px 10px;
    }

    .nav{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 5px;
    }
}
