.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    width: 100%;
    position: fixed;
}

.header p{
    font-size: 18px;
    font-weight: 400;
}

.header strong{
    color: #3e75e2;
}

.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}

.nav-link{
    text-decoration: none;
    color: #3c5e3c;
}