.sobre-texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
}

.container-sobre{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

}

.container-sobre-a-pousada{
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 15px;
    padding: 5px;
    
}

.sobre-a-pousada{
    width: 100%;
    
}

.sobre-a-pousada strong{
    font-size: 18px;
}

.sobre-a-pousada p{
    font-size: 15px;
    text-align: justify;
}

.sobre-a-pousada-img img{
    width: 150px;
    height: 130px;
}